* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none; }

body {
  width: 100%; }
  body header {
    width: 100%;
    position: fixed;
    z-index: 50;
    transition: 0.8s; }
    body header div {
      height: 56px; }
      body header div nav {
        display: flex;
        justify-content: space-around;
        align-items: center; }
        body header div nav h1 a b {
          color: #ffffff; }
        body header div nav div {
          width: 50%; }
          body header div nav div ul {
            display: flex;
            align-items: center;
            list-style: none;
            height: 100%;
            width: 100%;
            justify-content: space-evenly; }
            body header div nav div ul li a {
              color: #ffffff; }
            body header div nav div ul .userNew {
              display: none; }
  body .abajo {
    background-color: #ff0000; }
    body .abajo div nav h1 a b {
      color: black; }
    body .abajo div nav div ul li a {
      color: black; }
  body #sectionHome .boxHomeImg {
    height: 75vh;
    width: 100%;
    overflow: hidden;
    filter: brightness(60%); }
    body #sectionHome .boxHomeImg img {
      background-color: antiquewhite;
      width: 100%;
      height: 100vh;
      object-fit: cover; }
  body #sectionHome .boxButton {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 25vh; }
    body #sectionHome .boxButton button {
      background-color: #ff0000;
      color: #ffffff;
      padding: 20px;
      border-radius: 20px;
      border: none; }
  body #sectionHome .boxTrolley {
    background-color: #ff0000;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    position: fixed;
    bottom: 5px;
    right: 5px;
    z-index: 50; }
    body #sectionHome .boxTrolley img {
      width: 50%;
      margin: 15px; }
  body main {
    padding-top: 56px; }
    body main .compra {
      display: flex;
      align-items: center;
      justify-content: center; }
      body main .compra .imgBackground {
        height: calc(100vh - 56px);
        width: 100%;
        overflow: hidden; }
        body main .compra .imgBackground img {
          height: 100vh;
          width: 100%;
          filter: brightness(60%);
          object-fit: cover; }
      body main .compra .boxItems {
        background-color: #ffffff8d;
        width: 80%;
        height: 80%;
        border-radius: 20px;
        position: absolute; }
        body main .compra .boxItems .items div {
          width: 200px;
          height: 200px;
          border-radius: 20px; }
          body main .compra .boxItems .items div img {
            width: 100%;
            object-fit: cover; }
  body #nosotros {
    display: flex;
    align-items: center; }
    body #nosotros .imgBackground {
      width: 100%;
      overflow: hidden; }
      body #nosotros .imgBackground img {
        height: 100vh;
        width: 100%;
        filter: brightness(60%);
        object-fit: cover; }
    body #nosotros .textNosotros {
      position: absolute; }
  body .form {
    width: 100%;
    height: calc(82vh - 56px);
    display: flex;
    align-items: center;
    justify-content: center; }
    body .form div .boxForm .formu {
      display: flex;
      align-items: center;
      flex-direction: column; }
      body .form div .boxForm .formu fieldset {
        display: flex;
        flex-direction: column;
        align-items: center; }
    body .form div .boxForm .formNone {
      display: none; }
  body footer {
    background-color: #ff0000;
    height: 18vh;
    width: 100%; }
    body footer div .siguenos {
      text-align: center; }
      body footer div .siguenos h3 {
        padding-top: 10px; }
      body footer div .siguenos nav ul li {
        display: inline-block;
        height: 30px;
        width: 30px;
        text-align: center;
        margin-top: 10px; }
        body footer div .siguenos nav ul li a {
          color: black; }
    body footer div .small {
      text-align: center;
      height: 20px; }
      body footer div .small small {
        text-align: center; }
